@import "@/theme/mixin.scss";

.listArea {
  header {
    font-weight: bold;
    padding: 8px 12px;
    border-left: 4px solid #ff7f50;
    background-color: rgba(#ff7f50, 0.4);
  }
  section {
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      margin: 16px 0;
      border-width: 1px;
      border-style: solid;
      border-radius: 10px;
      @include customize("background-color", $light: #fff9eb, $dark: rgb(90 54 0 / 20%));
      @include customize("border-color", $light: #ffdc48, $dark: #dea500);

      &.none {
        background-color: unset;
        border: unset;
      }

      .itemContent {
        flex: 1;
      }

      .itemOperate {
        display: flex;
        align-items: center;
        margin-left: 16px;
        position: relative;
        top: 2px;

        div {
          cursor: pointer;
          margin: 0 8px;
        }
      }
    }
  }
}
