.listArea {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;
    border-left: 3px solid;
    @include systemTheme("background-color", "active-background-color");
    @include systemTheme("border-color", "active-border-color");
  }
  section {
    overflow: hidden;
    transition: height 0.3s ease;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      margin: 16px 0;
      border-radius: 0.25rem;
      @include customizeTheme(
        "background-color",
        $light: rgba(0, 0, 0, 0.02),
        $dark: rgba(255, 255, 255, 0.05)
      );
      @include customizeTheme(
        "box-shadow",
        $light: inset 0 0 0 1px rgb(0 0 0 / 3%),
        $dark: inset 0 0 0 1px rgb(255 255 255 / 6%)
      );

      &.none {
        background-color: unset;
        box-shadow: unset;
      }

      .itemContent {
        white-space: nowrap;
        overflow-x: auto;
        flex: 1;
      }

      .itemOperate {
        display: flex;
        align-items: center;
        margin-left: 16px;
        position: relative;
        top: 2px;

        div {
          cursor: pointer;
          margin: 0 8px;
        }
      }
    }
  }
}
