* {
  @include clientSize("medium") {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

#root {
  height: 100%;
  overflow: hidden;
}

.centerSpin {
  position: absolute !important;
  top: 40%;
  left: 50% !important;
  transform: translateX(-50%);
}
