@import "./variable.scss";

// init style
body {
  [theme="light"] & {
    color: rgba(0, 0, 0, 0.85);
    background-color: #ffffff;
  }
  [theme="dark"] & {
    color: rgba(255, 255, 255, 0.85);
    background-color: #121212;
  }
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  [theme="light"] & {
    color: rgba(0, 0, 0, 0.85);
  }
  [theme="dark"] & {
    color: rgba(255, 255, 255, 0.85);
  }
}

a {
  [theme="light"] & {
    color: #1890ff;
    &:hover {
      color: #40a9ff;
    }
    &:active {
      color: #096dd9;
    }
    &[disabled] {
      color: rgba(0, 0, 0, 0.25);
    }
  }
  [theme="dark"] & {
    color: #177ddc;
    &:hover {
      color: #165996;
    }
    &:active {
      color: #388ed3;
    }
    &[disabled] {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

caption {
  [theme="light"] & {
    color: rgba(0, 0, 0, 0.45);
  }
  [theme="dark"] & {
    color: rgba(255, 255, 255, 0.45);
  }
}

mark {
  [theme="light"] & {
    background-color: #feffe6;
  }
  [theme="dark"] & {
    background-color: #2b2611;
  }
}

::-moz-selection,
::selection {
  [theme="light"] & {
    background: #1890ff;
  }
  [theme="dark"] & {
    background: #177ddc;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
