// common variables
$active-music-font-color: #e84749;

// light custom theme
$light-theme-variables: (
  "default-font-color": #000,
  "secondary-font-color": #00000073,
  "default-border-color":
    rgba(
      $color: #000000,
      $alpha: 0.12,
    ),
  "active-border-color": #1890ff,
  "secondary-background-color": #fdfdfd,
  "active-background-color": #f6f6f6,
);

// dark custom theme
$dark-theme-variables: (
  "default-font-color": #fff,
  "secondary-font-color":
    rgba(
      $color: #fff,
      $alpha: 0.6,
    ),
  "default-border-color":
    rgba(
      $color: #fff,
      $alpha: 0.12,
    ),
  "active-border-color": #177ddc,
  "secondary-background-color": #0d0d0d,
  "active-background-color": #1f1f21,
);

// responsive breakpoints
// 以 PC端 为主向 小屏 兼容 - max-width
// 以 移动端 为主向 大屏 兼容 - min-width
$breakpoints: (
  "small": (
    max-width: 767px,
  ),
  "medium": (
    max-width: 991px,
  ),
);
