// light theme
$light-color: #1A2027;
$light-backgroundColor: #FFFFFF;
$light-borderColor: #E7EBF0;

// dark theme
$dark-color: #FFFFFF;
$dark-backgroundColor: #001E3C;
$dark-borderColor: rgba(194, 224, 255, 0.08);
