.card {
  width: 180px;
  position: relative;
  margin-right: 16px;
  cursor: pointer;

  @include clientSize("medium") {
    width: 120px;
    margin-right: 12px;
  }

  .playCount {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 16px;
    padding: 0 8px;
    background-color: #99979780;
    color: #fff;
    font-size: 12px;

    svg {
      vertical-align: text-top;
    }
  }

  img {
    border-radius: 16px;
    width: 180px;

    @include clientSize("medium") {
      width: 120px;
    }
  }

  .name {
    margin-top: 4px;
    display: inline-block;
    padding-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.list {
  cursor: pointer;
  padding: 8px 0;

  .content {
    display: flex;
    align-items: center;

    img {
      border-radius: 8px;
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .description {
      font-size: 12px;
      @include systemTheme("color", "secondary-font-color");
    }
  }

  .tags {
    padding-left: 54px;

    span {
      margin-top: 4px;
    }
  }
}
